frame {
	border-radius: 7px;
}

.navigation-sidebar {
	padding-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.navigation-sidebar > row {
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 0;
}

toggle-group > separator {
	/* conventional methods for this like `display: none` don't work in GTK,
	   therefore the opacity must be lowered */
	opacity: 0;
}

.command-palette {
	font-size: 20px;
	min-height: 40px;
	background-color: transparent;
	outline-color: transparent;
	font-weight: 500;
}

.font-medium {
	font-weight: 500;
}

.new-tab {
	padding-left: 8px;
}

.tab-close {
	min-height: 24px;
	min-width: 24px;
	padding: 0;
}

.content-top-bar {
	background: hsl(from var(--window-bg-color) h s l / 0.95);
}
