frame {
	border-radius: 7px;
}

.navigation-sidebar {
	padding-top: 0;
	margin-left: 0;
	margin-right: 0;
}

.navigation-sidebar > row {
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 0;
	padding-right: 4px;
	min-height: 34px;
}

.command-palette {
	font-size: 20px;
	min-height: 40px;
	background-color: transparent;
	outline-color: transparent;
	font-weight: 500;
}

.font-medium {
	font-weight: 500;
}

.new-tab {
	padding-left: 8px;
}

.tab-close {
	min-height: 24px;
	min-width: 24px;
	padding: 0;
}

.top-bar.raised {
	background: var(--window-bg-color);
}

.website-settings > contents {
	border-radius: 20px;
}

.popover-menu > button {
	transition: none;
}

.infobar > row {
	padding: 0;
}

.toolbar {
	padding: 0;
}

.url-preview {
	border-radius: 10px;
}

shortcut-label.compact > box > .keycap {
	padding: 0;
	padding-left: 6px;
	padding-right: 6px;
}

.joined > button,
.joined > menubutton > button {
	border-radius: 0;
}

.joined > button:first-child,
.joined > menubutton:first-child > button {
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
}

.joined > button:last-child,
.joined > menubutton:last-child > button {
	border-top-right-radius: 9px;
	border-bottom-right-radius: 9px;
}

.palette-button.card {
	border-radius: 9px;
}
